<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/mdb.min.css}" />-->
    <title>Carousel</title>
</head>
<body>
<!--<script th:src="@{/js/bootstrap.bundle.js}"></script>-->


<main th:fragment="car">
    <!-- Carousel wrapper -->
<!--        <script th:src="@{/js/mdb.umd.min.js}"></script>-->
    <div id="carID" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button
                    type="button"
                    data-mdb-target="#carID"
                    data-mdb-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
            ></button>
            <button
                    type="button"
                    data-mdb-target="#carID"
                    data-mdb-slide-to="1"
                    aria-label="Slide 2"
            ></button>
            <button
                    type="button"
                    data-mdb-target="#carID"
                    data-mdb-slide-to="2"
                    aria-label="Slide 3"
            ></button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <img
                        th:src="@{/img/img1.jpg}"
                        class="d-block w-100"
                        alt="Img1"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Port Swinoujście</h5>
                    <p>
                        Tak jest nad wodą.
                    </p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img
                        th:src="@{/img/img2.jpg}"
                        class="d-block w-100"
                        alt="Img2"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Port Świnoujście Nocą</h5>
                    <p>
                        Kurde ale te lampy dają po oczach.
                    </p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img
                        th:src="@{/img/img3.jpg}"
                        class="d-block w-100"
                        alt="Img3"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Statek</h5>
                    <p>
                        O kurde! Statek!
                    </p>
                </div>
            </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button
                class="carousel-control-prev"
                type="button"
                data-mdb-target="#carID"
                data-mdb-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
                class="carousel-control-next"
                type="button"
                data-mdb-target="#carID"
                data-mdb-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Carousel wrapper -->

</main>

</body>
</html>