<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>O Nas</title>
</head>
<body>
<script th:src="@{/js/bootstrap.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<header>
    <div th:replace="~{/components/navbar::nav}"></div>
</header>

<main>
    <div class="container my-5">
        <div class="d-flex justify-content-center m-3">
            O Porcie Morskim Świnoujście słów kilka:
        </div>
        <p class="lead m-3">
            Port Morski w Świnoujściu to jedno z najważniejszych strategicznie miejsc na mapie Polski, stanowiące bramę morską do Bałtyku. Znajduje się on na północno-zachodnim krańcu Polski, na wyspie Uznam, która oddziela Zalew Szczeciński od Morza Bałtyckiego. To dynamicznie rozwijające się centrum logistyczne i przemysłowe, spełniające istotną rolę w transporcie morskim i handlu.
        </p>
        <p class="lead m-3">
            Port ten jest nie tylko kluczowym węzłem dla gospodarki Polski, ale także dla Europy Środkowej, umożliwiając skuteczny transport towarów do i z obszaru bałtyckiego. Znajduje się tu wiele terminali przeładunkowych, magazynów oraz infrastruktura potrzebna do obsługi różnorodnych rodzajów ładunków.
        </p>
    </div>

    <div class="container my-5">
        <div class="d-flex justify-content-center m-3">
            Krótka historia Portu Świnoujście:
        </div>
        <p class="lead m-3">
            Historia Portu Morskiego w Świnoujściu sięga XIX wieku, gdy miasto było częścią Królestwa Pruskiego. Już wówczas, ze względu na strategiczne położenie na szlaku wodnym łączącym Zalew Szczeciński z Morzem Bałtyckim, zaczęły się plany rozbudowy portu. Rozwój portu przyspieszył po I wojnie światowej, kiedy Świnoujście stało się częścią niepodległej Polski.        </p>
        <p class="lead m-3">
            W okresie międzywojennym port rozwijał się, obsługując coraz większą liczbę statków i ładunków. Podczas II wojny światowej port był miejscem strategicznego znaczenia, co skutkowało intensywnymi działaniami wojennymi i zniszczeniami. Po wojnie, w okresie Polski Ludowej, rozpoczęły się prace nad odbudową i modernizacją portu.
        </p>
        <p class="lead m-3">
            W latach 90. XX wieku, po transformacji ustrojowej, port zaczął się rozwijać gospodarczo. Inwestycje w nowoczesną infrastrukturę, rozbudowę terminali i modernizację urządzeń umożliwiły mu stanie się jednym z najważniejszych portów morskich w Polsce i Europie. Dziś Świnoujście to nie tylko ośrodek gospodarczy, ale także miejsce, które przyciąga turystów, z uwagi na urok miasta-portu i piękne plaże na wyspie Uznam.
        </p>
    </div>

</main>

<footer>
    <div th:replace="~{/components/footer::ft}"></div>
</footer>
</body>
</html>