<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Kontakt</title>
</head>
<body>
<script th:src="@{/js/bootstrap.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<header>
  <div th:replace="~{/components/navbar::nav}"></div>
</header>

<main>
  <div class="container my-5">
    <div class="d-flex justify-content-center">
      <p class>
      Jeśli masz pytania, uwagi lub potrzebujesz dodatkowych informacji, skontaktuj się z nami. Poniżej znajdziesz wszelkie niezbędne dane kontaktowe.
    </p>
    </div>
  </div>
  <div class="container my-5">
    <div class="card-deck">
      <div class="card text-light bg-info">
        <div class="card-header">
          <div class="d-flex justify-content-center">
            Adres
          </div>
        </div>
        <div class="list-group list-group-flush text-dark">
          <li class="list-group-item">Port Morski Świnoujście S.A.</li>
          <li class="list-group-item">ul. Żeromskiego 54</li>
          <li class="list-group-item">72-600 Świnoujście</li>
          <li class="list-group-item">Polska</li>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center"></div>
        </div>
      </div>

      <div class="card text-light bg-info">
        <div class="card-header">
          <div class="d-flex justify-content-center">
            Dane kontaktowe
          </div>
        </div>
        <div class="list-group list-group-flush text-dark">
          <li class="list-group-item">Telefon:</li>
          <li class="list-group-item">+48 111 222 333</li>
          <li class="list-group-item">Email:</li>
          <li class="list-group-item">kontakt@port-swinoujscie.pl</li>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center"></div>
        </div>
      </div>

      <div class="card text-light bg-info">
        <div class="card-header">
          <div class="d-flex justify-content-center">
            Godziny Otwarcia Biura
          </div>
        </div>
        <div class="list-group list-group-flush text-dark">
          <li class="list-group-item">Poniedziałek - Piątek:</li>
          <li class="list-group-item">8:00 - 16:00</li>
          <li class="list-group-item">Sobota - Niedziela:</li>
          <li class="list-group-item">Zamknięte</li>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center"></div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div th:replace="~{/components/footer::ft}"></div>
</footer>
</body>
</html>