<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script th:inline="javascript">
    /*<![CDATA[*/
    var usernameFromThymeleaf = /*[[${username}]]*/ null;
    console.log("Username from Thymeleaf: " + usernameFromThymeleaf);
    /*]]>*/
  </script>
</head>
<body>

<nav>
  <ul>
    <li><a th:href="@{/home}">Home</a></li>
    <li><a th:href="@{/register}">Rejestracja</a></li>
    <li><a th:href="@{/login}">Zaloguj</a></li>
  </ul>
</nav>

<div th:if="${username != null}" class="welcome-message">
  <p>Witaj, <span th:text="${username}"></span>!</p>
</div>

</body>
</html>
