<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Importowanie z pliku JSON przypłynięć statków do portu w Śwonoujściu</title>
</head>
<body>
<nav>
    <a th:href="@{/}"><span class="home">Home</span></a>
    <div th:if="${session['username'] != null}" class="welcome-message">
        <div class="user-dropdown">
            <span th:text="'Witaj ' + ${username} + '!'"></span>
            <div class="dropdown-content">
                <a th:href="@{/profile}">Profil</a>
                <a th:if="${isAdmin}" th:href="@{/admin}">Panel Administracyjny</a>
                <a th:href="@{/logout}">Wyloguj</a>
            </div>
        </div>
    </div>

    <div th:if="${session['username'] == null}" class="welcome-message">
        <div class="user-dropdown">
            <span th:text="Gość"></span>
            <div class="dropdown-content">
                <a th:href="@{/register}">Rejestracja</a>
                <a th:href="@{/login}">Zaloguj</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Importowanie z pliku JSON</h1>

    <div th:if="${successMessage}" class="success-message">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>

    <form method="post" enctype="multipart/form-data" action="/importShipJson" >
        <div>
            <label for="fileShips">Plik JSON do importu</label>
            <input type="file" id="fileShips" name="fileShips" required>
        </div>

        <div>
            <button type="submit">Importuj</button>
            <button type="reset">Wyczyść</button>
        </div>
    </form>
</div>
</body>
</html>