<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/
    </script>
</head>
<body>
<script th:src="@{/js/bootstrap.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<header>
    <div th:replace="~{/components/navbar::nav}"></div>
</header>


<main class="my-5">
    <div class="container my-3">

        <div class="container my-3">
            <div class="d-flex justify-content-center">
                <h1 class="m-2 text-info">Witamy na stronie portu Świnoujście!</h1>
            </div>
        </div>

        <div class="container my-3">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" data-bs-interval="150000">
                    <div class="carousel-item active">
                        <img class="d-block w-100" th:src="@{${'/img/img1.jpg'}}" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Port Świnoujście</h5>
                            <p>Tak, jesteśy portem morskim w Świnoujściu, proszę nie mylić nas ze SZCZECINEM!</p>
                        </div>
                    </div>

                    <div class="carousel-item" data-bs-interval="150000">
                        <img class="d-block w-100" th:src="@{${'/img/img3.jpg'}}" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Statek</h5>
                            <p>O cholera! Toż to statek, i to jaki czerwony, znaczy się szybki.</p>
                        </div>
                    </div>

                    <div class="carousel-item" data-bs-interval="150000">
                        <img class="d-block w-100" th:src="@{${'/img/img2.jpg'}}" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Port nocą</h5>
                            <p>Kurde, ale te światła dają po oczach!</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="container my-3">
            <div class="row">
                <div class="col">
                    <div class="card-deck">
                        <div class="card">
                            <img
                                    src="https://picsum.photos/id/200/320/200"
                                    class="card-img-top"
                                    alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">Oferta</h5>
                                <p class="card-text">
                                    Zapraszamy do zapoznania się z ofertą usług realizowanych przez nasz port. Usługi kierowane są zarówno do klientów profesjonalnych jak i osób prywatnych.
                                </p>

                                <div class="">
                                    <a th:href="@{/service_offer}"
                                    ><button type="button" class="btn btn-primary">
                                        Oferta
                                    </button></a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    src="https://picsum.photos/id/201/320/200"
                                    class="card-img-top"
                                    alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">O porcie</h5>
                                <p class="card-text">
                                    Zapoznaj się z informacjami jak i hiostorią Portu Świnoujście.
                                </p>

                                <div class="">
                                    <a th:href="@{/about_us}"
                                    ><button type="button" class="btn btn-primary">
                                        O nas
                                    </button></a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                    src="https://picsum.photos/id/202/320/200"
                                    class="card-img-top"
                                    alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">Kontakt</h5>
                                <p class="card-text">
                                    Informacje kontaktowe do sekretariatu, szypra oraz biura zarządu portu.
                                </p>

                                <div class="">
                                    <a th:href="@{/contact}"
                                    ><button type="button" class="btn btn-primary">
                                        Kontakt
                                    </button></a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-3">
            <p>Galeria Here</p>
        </div>

        </div>
    </div>
</main>



    <footer>
        <div th:replace="~{/components/footer::ft}"></div>
    </footer>

</body>
</html>