<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/mdb.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/
    </script>
</head>
<body>

<script th:src="@{/js/mdb.umd.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>


<header>
    <div th:replace="~{/components/navbar::nav}"></div>
</header>

<main class="my-5">
    <div class="container">
        <div>
            <!-- Carousel wrapper -->
            <div
                    id="carouselBasicExample"
                    class="carousel slide carousel-fade"
                    data-mdb-ride="carousel"
            >
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <button
                            type="button"
                            data-mdb-target="#carouselBasicExample"
                            data-mdb-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"
                    ></button>
                    <button
                            type="button"
                            data-mdb-target="#carouselBasicExample"
                            data-mdb-slide-to="1"
                            aria-label="Slide 2"
                    ></button>
                    <button
                            type="button"
                            data-mdb-target="#carouselBasicExample"
                            data-mdb-slide-to="2"
                            aria-label="Slide 3"
                    ></button>
                </div>

                <!-- Inner -->
                <div class="carousel-inner">
                    <!-- Single item -->
                    <div class="carousel-item active">
                        <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp"
                                class="d-block w-100"
                                alt="Sunset Over the City"
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>
                                Nulla vitae elit libero, a pharetra augue mollis interdum.
                            </p>
                        </div>
                    </div>

                    <!-- Single item -->
                    <div class="carousel-item">
                        <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp"
                                class="d-block w-100"
                                alt="Canyon at Nigh"
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>

                    <!-- Single item -->
                    <div class="carousel-item">
                        <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp"
                                class="d-block w-100"
                                alt="Cliff Above a Stormy Sea"
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>
                                Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Inner -->

                <!-- Controls -->
                <button
                        class="carousel-control-prev"
                        type="button"
                        data-mdb-target="#carouselBasicExample"
                        data-mdb-slide="prev"
                >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                        class="carousel-control-next"
                        type="button"
                        data-mdb-target="#carouselBasicExample"
                        data-mdb-slide="next"
                >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Carousel wrapper -->
        </div>

        <div class="row">
            <div class="col">
                <div class="card-group">
                    <div class="card">
                        <img
                                src="https://picsum.photos/id/200/320/200"
                                class="card-img-top"
                                alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit
                                longer.
                            </p>

                            <div class="">
                                <a href="#"
                                ><button type="button" class="btn btn-primary">
                                    Read more
                                </button></a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img
                                src="https://picsum.photos/id/201/320/200"
                                class="card-img-top"
                                alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This card has supporting text below as a natural lead-in to
                                additional content.
                            </p>

                            <div class="">
                                <a href="#"
                                ><button type="button" class="btn btn-primary">
                                    Read more
                                </button></a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img
                                src="https://picsum.photos/id/202/320/200"
                                class="card-img-top"
                                alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This card has even longer
                                content than the first to show that equal height action.
                            </p>

                            <div class="">
                                <a href="#"
                                ><button type="button" class="btn btn-primary">
                                    Read more
                                </button></a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col border">
                    Here comes the content
                </div>
                <div class="col border">
                    Here comes the content
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card" style="background-color: #6fabd9; height: fit-content">
                        <img th:src="@{/img/logo_v2.png}" class="card-img-top" width="128" alt="logo">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card" style="background-color: #6fabd9;  height: fit-content">
                        <div class="card-header">
                            Featured
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card" style="background-color: #6fabd9; height: fit-content">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



    <footer>
        <div th:replace="~{/components/footer::ft}"></div>

        <!--<div class="container-fluid" style="color-scheme: dark">-->
        <!--    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">-->
        <!--        <p class="col-md-4 mb-0 text-muted">© 2021 Company, Inc</p>-->

        <!--        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">-->
        <!--            <img th:src="@{/img/logo_v2.png}" alt="logo" width="30" height="30" class="d-inline-block align-text-middle">-->
        <!--        </a>-->

        <!--        <ul class="nav col-md-4 justify-content-end">-->
        <!--            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>-->
        <!--        </ul>-->
        <!--    </footer>-->
        <!--</div>-->
    </footer>

</body>
</html>