<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:import="com.example.ships.model.Role"></th:block>
<head>
    <title>Logowanie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<nav>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/register}">Rejestracja</a></li>
        <li><a th:href="@{/login}">Zaloguj</a></li>
        <li th:if="${roles != null and roles.contains(T(com.example.ships.model.Role).ADMIN)}">
            <a th:href="@{/admin}">Panel Administracyjny</a>
        </li>
        <li th:if="${session['username'] ne null}">
            <a th:href="@{/logout}">Wyloguj</a>
        </li>
    </ul>
</nav>
<body>
<h1>Logowanie</h1>
<form action="/login" method="POST">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">Haslo:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Zaloguj"><br>
</form>
</body>
</html>