<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:import="com.example.ships.model.Role"></th:block>
<head>
    <title>Formularz rejestracji</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<nav>
    <a th:href="@{/}"><span class="home">Home</span></a>
    <div th:if="${session['username'] != null}" class="welcome-message">
        <div class="user-dropdown">
            <span th:text="'Witaj ' + ${username} + '!'"></span>
            <div class="dropdown-content">
                <a th:href="@{/logout}">Wyloguj</a>
                <a th:href="@{/profile}">Profil</a>
                <a th:if="${isAdmin}" th:href="@{/admin}">Panel Administracyjny</a>
            </div>
        </div>
    </div>

    <div th:if="${session['username'] == null}" class="welcome-message">
        <div class="user-dropdown">
            <span th:text="Gość"></span>
            <div class="dropdown-content">
                <a th:href="@{/login}">Zaloguj</a>
            </div>
        </div>
    </div>
</nav>
<h1>Formularz rejestracji</h1>
<form action="/register" method="POST">
    <label for="username">Nazwa uzytkownika:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="password">Haslo:</label><br>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Zarejestruj"><br>
</form>
</body>
</html>
