<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Statki</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
  <script th:src="@{/js/bootstrap.bundle.js}"></script>

  <header>
    <div th:replace="~{/components/navbar::nav}"></div>
  </header>

  <main>
    <div class="container">
      <table class="table table-dark table-striped">
        <thead>
        <tr>
          <th>Identyfikator</th>
          <th>Nazwa</th>
          <th>Bandera</th>
          <th>Data przybycia</th>
          <th>Godzina przybycia</th>
          <th>Nadbrzeże</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ship : ${ships}">
          <td th:text="${ship.id}"></td>
          <td th:text="${ship.shipName}"></td>
          <td th:text="${ship.flag}"></td>
          <td th:text="${ship.arrivalDate}"></td>
          <td th:text="${ship.arrivalTime}"></td>
          <td th:text="${ship.mooringPlace}"></td>
          <td>
            <div th:if="${ship.user.getId() eq userId or isAdmin eq true}" class="btn-group">
              <a th:href="@{'/showArrivalShips/' + ${ship.id}}" class="btn btn-primary">Szczegóły</a>
              <a th:href="@{'/deleteShip/' + ${ship.id}}" class="btn btn-danger">Usuń</a>
              <a th:href="@{'/editShip/' + ${ship.id}}" class="btn btn-success">Edytuj</a>
            </div>
            <div th:if="${ship.user.getId() ne userId and isAdmin ne true}" class="btn-group">
              <a th:href="@{'/showArrivalShips/' + ${ship.id}}" class="btn btn-primary">Szczegóły</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </main>

  <footer>
    <div th:replace="~{/components/footer::ft}"></div>
  </footer>

</body>
</html>