<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home</title>

  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <script th:inline="javascript">
    /*<![CDATA[*/
    /*]]>*/
  </script>

</head>

<body>
  <script th:src="@{/js/bootstrap.bundle.js}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <header>
    <div th:replace="~{/components/navbar::nav}"></div>
  </header>

  <main>
<div class="container my-5">

    <div>
      <div th:if="${successMessage}" class="success-message">
        <div class="card text-white bg-success mb-3 border-dark" style="max-width: 18rem;">
          <div class="card-body">
            <p th:text="${successMessage}"></p>
          </div>
        </div>
      </div>

      <div th:if="${errorMessage}" class="error-message">
        <div class="card text-white bg-warning mb-3 border-dark" style="max-width: 18rem;">
          <div class="card-body"
          <p th:text="${errorMessage}"></p>
        </div>
      </div>
    </div>
  </div>

    <div th:if="${session['username'] != null}" class="container my-5 justify-content-center">
      <div>
        <div class="card text-info bg-dark border-info h-100" style="width: 35rem">
          <img th:src="@{/img/user-placeholder.jpeg}" class="card-img-top border-info border-3 rounded-3 p-3" alt="placeholder-img"/>
          <div class="card-header">
            Informacje o Użytkowniku
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush my-3">
              <li class="list-group-item"><p th:text="'Nazwa użytkonika: '+${username}"></p></li>
              <li class="list-group-item"><p th:text="'Email: '+${email}"></p></li>
              <li th:if="${isAdmin == true}" class="list-group-item">Ranga: Administrator</li>
              <li th:if="${isAdmin != true}" class="list-group-item">Ranga: Użytkownik Standardowy</li>
            </ul>

            <footer class="d-flex justify-content-center">
                <a th:href="@{/}"><button type="button" class="btn btn-info m-3">Home</button></a>
                <a th:href="@{/logout}"><button type="button" class="btn btn-info m-3">Wyloguj się</button></a>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <div th:if="${session['username'] == null}" class="container my-5 justify-content-center">

      <div class="">
        <div class="card text-info bg-dark border-info h-100 " style="width: 35rem">
          <div class="card-header">
            Profil
          </div>

          <div class="card-body">
            <p class="card-text">
              Nie zalogowona użytkownika. Aby wyśiwetlić informację o profilu należy sie najpierw zalogować.
            </p>

            <footer class="d-flex justify-content-center">
              <a th:href="@{/login}"><button type="button" class="btn btn-info m-3">Zaloguj Się</button></a>
              <a th:href="@{/register}"><button type="button" class="btn btn-info m-3">Rejestracja</button></a>
            </footer>
          </div>
        </div>
      </div>
    </div>
</div>


</main>

  <footer>
    <div th:replace="~{/components/footer::ft}"></div>
  </footer>

</body>
</html>