<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home</title>

  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

  <script th:inline="javascript">
    /*<![CDATA[*/
    /*]]>*/
  </script>

</head>

<body>
  <script th:src="@{/js/bootstrap.bundle.js}"></script>

  <header>
    <div th:replace="~{/components/navbar::nav}"></div>
  </header>

  <main>
  <div class="container-fluid align-content-center">
    <div class="card text-dark bg-warning mb-3" style="max-width: 18rem; padding-left: 15px; padding-right: 15px; padding-top: 10px; padding-bottom: 10px;">
      <div th:if="${session['username'] == null}" class="card-header">User Name Goes Here</div>
      <div th:if="${session['username'] != null}" class="card-header" th:text="${username}"></div>
      <div class="card-body">
        <h5 class="card-title">Tu będą dane o uzytkowniku</h5>
        <p class="card-text">Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Chlebek. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Honk Honk. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. </p>
      </div>
    </div>
  </div>
</main>

  <footer>
    <div th:replace="~{/components/footer::ft}"></div>
  </footer>

</body>
</html>