<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home</title>

  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

  <script th:inline="javascript">
    /*<![CDATA[*/
    /*]]>*/
  </script>
</head>

<body>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2a5470;">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/test}">
        <img th:src="@{/img/logo_v3-2.png}" alt="logo" width="50" height="50" class="d-inline-block align-text-middle">
        Port Świnoujście
      </a>
    </div>
  </nav>
</header>

<main>
  <div class="container-fluid align-content-center">
    <div class="card text-dark bg-warning mb-3" style="max-width: 18rem; padding-left: 15px; padding-right: 15px; padding-top: 10px; padding-bottom: 10px;">
      <div th:if="${session['username'] == null}" class="card-header">User Name Goes Here</div>
      <div th:if="${session['username'] != null}" class="card-header" th:text="${username}"></div>
      <div class="card-body">
        <h5 class="card-title">Tu będą dane o uzytkowniku</h5>
        <p class="card-text">Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Chlebek. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Honk Honk. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. Szczególowe dane here. </p>
      </div>
    </div>
  </div>
</main>

<footer class="footer mt-auto py-3" style="background-color: #2a5470" >
  <div class="container align-content-center">
    <p class="text-light">Footer goes here.</p>
  </div>
</footer>

</body>
</html>