<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły statku</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <header>
        <div th:replace="~{/components/navbar::nav}"></div>
    </header>

    <main>
        <div class="container my-3">
            <div class="card text-light bg-info m-5" style="width:auto">
                <div class="card-header">
                    <div class="d-flex justify-content-center">
                        Szczegóły przypłynięcia statku do portu
                    </div>
                </div>
                <div class="list-group list-group-flush text-dark">
                    <li class="list-group-item"><p>ID: <span th:text="${ship.id}"></span></p></li>
                    <li class="list-group-item"><p>Nazwa: <span th:text="${ship.shipName}"></span></p></li>
                    <li class="list-group-item"><p>Data przybycia: <span th:text="${ship.arrivalDate}"></span></p></li>
                    <li class="list-group-item"><p>Godzina przybycia: <span th:text="${ship.arrivalTime}"></span></p></li>
                    <li class="list-group-item"><p>Kod portu, z którego przypłynął: <span th:text="${ship.initialPortCode}"></span></p></li>
                    <li class="list-group-item"><p>Bandera: <span th:text="${ship.flag}"></span></p></li>
                    <li class="list-group-item"><p>Pojemoność brutto: <span th:text="${ship.grossCapacity}"></span></p></li>
                    <li class="list-group-item"><p>Długość: <span th:text="${ship.length}"></span></p></li>
                    <li class="list-group-item"><p>Agent: <span th:text="${ship.agent}"></span></p></li>
                    <li class="list-group-item"><p>Nadbrzeże: <span th:text="${ship.mooringPlace}"></span></p></li>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                    <div th:if="${ship.user.getId() eq userId or isAdmin eq true}">
                        <a th:href="@{'/deleteShip/' + ${ship.id}}"><button class="btn btn-danger mx-2 border-dark">Usuń</button></a>
                        <a th:href="@{'/editShip/' + ${ship.id}}"><button class="btn btn-info mx-2 border-dark">Edytuj</button></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div th:replace="~{/components/footer::ft}"></div>
    </footer>
</body>
</html>